[submodule "EIV_DataPack"]
	path = EIV_DataPack
	url = https://github.com/ExtractIntoVoid/EIV_DataPack.git
[submodule "EIV_JsonLib"]
	path = EIV_JsonLib
	url = https://github.com/ExtractIntoVoid/EIV_JsonLib
[submodule "EIV_Common"]
	path = EIV_Common
	url = https://github.com/ExtractIntoVoid/EIV_Common.git
[submodule "GodotMod"]
	path = GodotMod
	url = https://github.com/SlejmUr/GodotCSharpMod
[submodule "GodotCSharpMod"]
	path = GodotCSharpMod
	url = https://github.com/SlejmUr/GodotCSharpMod
